<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  
  <link rel="stylesheet/less" href="{{ asset('css/siwapp.less') }}" type="text/css" media="screen" title="Siwapp Styles" charset="utf-8" />
  {% block stylesheets %}{% endblock %}
  
  {% javascripts
    'js/less-1.1.3.min.js'
    'js/modernizr.custom.js'
    'js/jquery-1.6.4.min.js'
    output='js/min/core.js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
{% block bodytag %}<body>{% endblock %}
  
  {% block header %}
    <header id="hd">
      <h1>
        <a href="{{ path('dashboard_index') }}">
          <img src="{{ asset('img/logo.png') }}" alt="Siwapp" />
          <span class="version">v.0.5-DEV</span>
        </a>
      </h1>
      
      <nav class="user">
        <ul class="unstyled">
          <li>{% trans with {'%username%': 'test' } %}Wellcome, %username%!{% endtrans %}</li>
          <li>
            <a href="{{ path('dashboard_index') }}">{% trans %}Settings{% endtrans %}</a>
          </li>
          <li>
            <a href="{{ path('dashboard_index') }}">{% trans %}Logout{% endtrans %}</a>
          </li>
        </ul>
      </nav>
      
      <nav class="main">
        
        <a href="{{ path('dashboard_index') }}" class="btn primary icon add alternative">{% trans %}New Invoice{% endtrans %}</a>
        
        <ul class="tabs">
          <li class="active">
            <a href="{{ path('dashboard_index') }}">{% trans %}Dashboard{% endtrans %}</a>
          </li>
          <li>
            <a href="{{ path('dashboard_index') }}">{% trans %}Invoices{% endtrans %}</a>
          </li>
          <li>
            <a href="{{ path('dashboard_index') }}">{% trans %}Recurring Invoices{% endtrans %}</a>
          </li>
          <li>
            <a href="{{ path('dashboard_index') }}">{% trans %}Estimates{% endtrans %}</a>
          </li>
          <li>
            <a href="{{ path('dashboard_index') }}">{% trans %}Customers{% endtrans %}</a>
          </li>
        </ul>
      </nav>
    </header>
  {% endblock %}
  
  <section id="bd">
    {% block body %}{% endblock %}
  </section>
  
  <footer id="ft">
  </footer>
  
  {% javascripts
    'js/bootstrap/bootstrap-twipsy.js'
    'js/bootstrap/bootstrap-*.js'
    'js/kendoui/kendo.core.min.js'
    'js/kendoui/kendo.data.min.js'
    'js/kendoui/kendo.fx.min.js'
    'js/kendoui/kendo.popup.min.js'
    'js/kendoui/kendo.list.min.js'
    'js/kendoui/kendo.draganddrop.min.js'
    'js/kendoui/kendo.calendar.min.js'
    'js/kendoui/kendo.*.min.js'
    filter='yui_js'
    output='js/min/frameworks.js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  
  {# TODO: Change culture for user. See /web/js/kendoui/cultures #}
  <script type="text/javascript" charset="utf-8" src="{{ asset('js/kendoui/cultures/kendo.culture.en-US.js') }}"></script>
  
  {% block javascripts %}{% endblock %}
</body>
</html>
