<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  
  <link rel="stylesheet/less" href="{{ asset('css/siwapp.less') }}" type="text/css" media="screen" title="Siwapp Styles" charset="utf-8" />
  {% block stylesheets %}{% endblock %}
  
  <script type="text/javascript" charset="utf-8">
    less = { env: 'development' };
  </script>
  
  {% javascripts
    'js/jquery-1.7.1.min.js'
    'js/modernizr.custom.js'
    'js/less-1.2.2.min.js'
    output='js/min/core.js'
    filter='?yui_js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
{% block bodytag %}<body>{% endblock %}

{% block header %}
  <header id="hd">
    
    <div class="container">
    <h1>
      <a href="{{ path('dashboard_index') }}">
        <img src="{{ asset('img/logo.png') }}" alt="Siwapp" />
        <span class="version">v.1.0-DEV</span>
      </a>
    </h1>
    
    <nav class="user">
      <ul class="unstyled">
        <li>{% trans with {'%username%': 'test' } %}Wellcome, %username%!{% endtrans %}</li>
        <li>
          <a href="{{ path('global_settings') }}" data-shortcut="alt+g, s">
            <i class="icon-cog"></i>
            {% trans %}Settings{% endtrans %}
          </a>
        </li>
        <li>
          <a href="{{ path('dashboard_index') }}" data-shortcut="alt+g, q">{% trans %}Logout{% endtrans %}</a>
        </li>
      </ul>
    </nav>
    
    <nav class="main">
      
      <div id="create-button" class="btn-group">
        <a href="{{ path('invoice_add') }}" class="btn btn-primary">
          <i class="icon-plus icon-white"></i>
          {% trans %}New Invoice{% endtrans %}
        </a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ path('invoice_add') }}">{% trans %}New Estimate{% endtrans %}</a>
          </li>
          <li>
            <a href="{{ path('invoice_add') }}">{% trans %}New Recurring Invoice{% endtrans %}</a>
          </li>
        </ul>
      </div>
      
      
      {% set routename = app.request.attributes.get('_route') %}
      
      <ul class="nav nav-tabs">
        <li class="{{ routename|menu_active_tab('dashboard_') }}">
          <a href="{{ path('dashboard_index') }}" data-shortcut="alt+g, d">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li class="{{ routename|menu_active_tab('invoice_') }}">
          <a href="{{ path('invoice_index') }}" data-shortcut="alt+g, i">{% trans %}Invoices{% endtrans %}</a>
        </li>
        <li class="{{ routename|menu_active_tab('recurring_') }}">
          <a href="{{ path('recurring_index') }}" data-shortcut="alt+g, r">{% trans %}Recurring Invoices{% endtrans %}</a>
        </li>
        <li class="{{ routename|menu_active_tab('estimate_') }}">
          <a href="{{ path('estimate_index') }}" data-shortcut="alt+g, e">{% trans %}Estimates{% endtrans %}</a>
        </li>
        <li class="{{ routename|menu_active_tab('customer_') }}">
          <a href="{{ path('dashboard_index') }}" data-shortcut="alt+g, c">{% trans %}Customers{% endtrans %}</a>
        </li>
      </ul>
    </nav>
    
    </div>
  </header>
{% endblock %}
  
  <section id="bd">
    {% block searchform_container %}
      <div class="searchform">
        <div class="container">
          {% block searchform %}
          <p><strong>SEARCHFORM:</strong> Check ::base.html.twig.</p>
          <ul>
            <li>To remove the <em>searchform</em> override the <em>searchform_container</em> block in your template.</li>
            <li>To add your own <em>searchform</em> code override the <em>searchform</em>block in your template.</li>
          {% endblock %}
        </div>
      </div>
    {% endblock %}
    
    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </section>
  
  <footer id="ft">
  </footer>
  
  {% javascripts
    'js/bootstrap/bootstrap-transition.js'
    'js/bootstrap/bootstrap-tooltip.js'
    'js/bootstrap/bootstrap-*.js'
    'js/kendoui/kendo.core.min.js'
    'js/kendoui/kendo.data.min.js'
    'js/kendoui/kendo.fx.min.js'
    'js/kendoui/kendo.popup.min.js'
    'js/kendoui/kendo.list.min.js'
    'js/kendoui/kendo.draganddrop.min.js'
    'js/kendoui/kendo.calendar.min.js'
    'js/kendoui/kendo.*.min.js'
    'js/jwerty.js'
    'js/jquery.placeholder.min.js'
    'js/bundle/global.js'
    'js/bundle/search-common.js'
    output='js/min/frameworks.js'
    filter='?yui_js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  
  {# TODO: Change culture for user. See /web/js/kendoui/cultures #}
  <script type="text/javascript" charset="utf-8" src="{{ asset('js/kendoui/cultures/kendo.culture.en-US.js') }}"></script>
  
  {% block javascripts %}{% endblock %}
  
  {% block toolbar %}{% endblock %}
  
</body>
</html>
