{% extends "::base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet/less" href="{{ asset('css/bundle/dashboard.less') }}" type="text/css" media="screen" title="Dashboard Styles" charset="utf-8" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" charset="utf-8" src="{{ asset('js/bundle/invoice-payments.js') }}"></script>
{% endblock %}

{% block body %}
  
  <div id="dashboard-summary">
    
    <table class="payments horizontal">
      <tbody>
        <tr>
          <th colspan="2">{% trans %}Payments Summary{% endtrans %}</th>
        </tr>
        <tr class="receipts">
          <th>{% trans %}Receipts{% endtrans %}</th>
          <td>$491,969.17</td>
        </tr>
        <tr class="due">
          <th>{% trans %}Due{% endtrans %}</th>
          <td>$4,233.54</td>
        </tr>
        <tr class="overdue">
          <th>{% trans %}Overdue{% endtrans %}</th>
          <td>$4,233.54</td>
        </tr>
      </tbody>
    </table>
    
    <table class="balance horizontal">
      <tbody>
        <tr>
          <th colspan="2">{% trans %}Balance{% endtrans %}</th>
        </tr>
        <tr class="total">
          <th>{% trans %}Total{% endtrans %}</th>
          <td>$598,390.67</td>
        </tr>
        <tr class="net">
          <th>{% trans %}Net{% endtrans %}</th>
          <td>$500,000.00</td>
        </tr>
        <tr class="taxes">
          <th>{% trans %}Taxes{% endtrans %}</th>
          <td>$98,390.67</td>
        </tr>
      </tbody>
    </table>

    <table class="taxes horizontal">
      <tbody>
        <tr>
          <th colspan="2">{% trans %}Withholding Taxes{% endtrans %}</th>
        </tr>
        {# TODO: Iterate over taxes and totals and show here #}
        <tr>
          <th>IVA 18%</th>
          <td>$98,390.67</td>
        </tr>
        <tr>
          <th>IVA 8%</th>
          <td>$0.00</td>
        </tr>
      </tbody>
    </table>
    
  </div>
  
  <h2>{% trans %}Recent invoices{% endtrans %}</h2>
  <div id="dashboard-latest-invoices">
    <table class="zebra-striped align-middle" data-type="invoices">
      <colgroup>
        <col />
        <col />
        <col class="date" />
        <col class="date" />
        <col class="status" />
        <col class="currency" />
        <col class="currency" />
        <col class="payments" />
      </colgroup>
      <thead>
        <tr>
          <th>{% trans %}Number{% endtrans %}</th>
          <th>{% trans %}Customer{% endtrans %}</th>
          <th class="date">{% trans %}Date{% endtrans %}</th>
          <th class="date">{% trans %}Due Date{% endtrans %}</th>
          <th class="status">{% trans %}Status{% endtrans %}</th>
          <th class="currency">{% trans %}Due{% endtrans %}</th>
          <th class="currency">{% trans %}Total{% endtrans %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ASET-22</td>
          <td>Roxxon</td>
          <td>5/28/11</td>
          <td>9/16/11</td>
          <td>
            {# Use these CSS class names after .label for different statuses:
              DRAFT   => (no class)
              CLOSED  => .success
              OPENED  => .warning
              OVERDUE => .important
              ???     => .notice -> informational and not used
            #}
            <span class="label success">{% trans %}closed{% endtrans %}</span>
          </td>
          <td></td>
          <td>$11,435.23</td>
          <td>
            <a href="{{ path('invoice_payments', { 'invoiceId': 1 }) }}" class="btn secondary icon clock payments" title="Payments">{% trans %}Payments{% endtrans %}</a>
          </td>
        </tr>
        <tr>
          <td>ASET-22</td>
          <td>Roxxon</td>
          <td>5/28/11</td>
          <td>9/16/11</td>
          <td>
            <span class="label">{% trans %}draft{% endtrans %}</span>
          </td>
          <td></td>
          <td>$11,435.23</td>
          <td>
            <a href="{{ path('invoice_payments', { 'invoiceId': 2 }) }}" class="btn secondary icon clock payments" title="Payments">{% trans %}Payments{% endtrans %}</a>
          </td>
        </tr>
        <tr>
          <td>ASET-22</td>
          <td>Roxxon</td>
          <td>5/28/11</td>
          <td>9/16/11</td>
          <td>
            <span class="label warning">{% trans %}opened{% endtrans %}</span>
          </td>
          <td></td>
          <td>$11,435.23</td>
          <td>
            <a href="{{ path('invoice_payments', { 'invoiceId': 3 }) }}" class="btn secondary icon clock payments" title="Payments">{% trans %}Payments{% endtrans %}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <h2>{% trans %}Past due invoices{% endtrans %}</h2>
  <div id="dashboard-overdue-invoices">
    <table class="zebra-striped align-middle" data-type="invoices">
      <colgroup>
        <col />
        <col />
        <col class="date" />
        <col class="date" />
        <col class="status" />
        <col class="currency" />
        <col class="currency" />
        <col class="payments" />
      </colgroup>
      <thead>
        <tr>
          <th>{% trans %}Number{% endtrans %}</th>
          <th>{% trans %}Customer{% endtrans %}</th>
          <th>{% trans %}Date{% endtrans %}</th>
          <th>{% trans %}Due Date{% endtrans %}</th>
          <th>{% trans %}Status{% endtrans %}</th>
          <th>{% trans %}Due{% endtrans %}</th>
          <th>{% trans %}Total{% endtrans %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ASET-22</td>
          <td>Roxxon</td>
          <td>5/28/11</td>
          <td>9/16/11</td>
          <td>
            <span class="label important">{% trans %}overdue{% endtrans %}</span>
          </td>
          <td></td>
          <td>$11,435.23</td>
          <td>
            <a href="{{ path('invoice_payments', { 'invoiceId': 4 }) }}" class="btn secondary icon clock payments" title="Payments">{% trans %}Payments{% endtrans %}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
{% endblock %}
