{% extends "::base.html.twig" %}


{% form_theme form _self %}
{% use 'form_div_layout.html.twig' with date_widget as base_date_widget %}

{% block field_widget %}
{% spaceless %}
  {% set type = type|default('text') %}
  <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}{% if type != 'hidden' %} placeholder="{{ label }}"{% endif %}/>
{% endspaceless %}
{% endblock %}

{% block date_widget %}
{% spaceless %}
  {{ block('base_date_widget') }}
  {% if widget == 'single_text' %}
  <script type="text/javascript">
    jQuery(function($){ $('#{{ id }}').kendoDatePicker(); });
  </script>
  {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block form_errors %}
{% spaceless %}
  {% if errors|length > 0 %}
  <div class="row">
    <div id="invoice-like-form-errors" class="span12">
      <ul class="error_list">
        {% for error in errors %}
          <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block searchform_container %}{% endblock %}

{% block body %}
  
  {# {% form_theme form "SiwappInvoiceBundle:Form:invoice.html.twig" %} #}
  
  <article class="invoice-like">
    
    <header id="invoice-like-title">
      <h2>Invoice #10</h2>
      <ul id="invoice-like-status" class="unstyled">
        <li>
          <span class="label pending">Pending</span>
        </li>
        <li>
          <span class="label notice">Sent by Email</span>
        </li>
      </ul>
    </header>
    
    <form action="{{ path('invoice_update', { 'id': entity.id }) }}" method="post" class="form-stacked" {{ form_enctype(form) }}>
      
      {{ form_errors(form) }}
      
      <div class="row">
        <div id="invoice-like-customer-data" class="span8">
          
          <h3>{% trans %}Customer Data{% endtrans %}</h3>
          
          <div class="row">
            <div class="span3 clearfix">
              {{ form_label(form.customer_name) }}
              {{ form_widget(form.customer_name, {'attr': {'class': 'span3'}}) }}
              {{ form_errors(form.customer_name) }}
            </div>
            <div class="span2 clearfix">
              {{ form_label(form.customer_identification) }}
              {{ form_widget(form.customer_identification, {'attr': {'class': 'span2'}}) }}
              {{ form_errors(form.customer_identification) }}
            </div>
            <div class="span3 clearfix">
              {{ form_label(form.contact_person) }}
              {{ form_widget(form.contact_person, {'attr': {'class': 'span3'}}) }}
              {{ form_errors(form.contact_person) }}
            </div>
            
            <div class="span8 clearfix">
              {{ form_label(form.customer_email) }}
              <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                {{ form_widget(form.customer_email, {'attr': {'class': 'span3'}}) }}
              </div>
              {{ form_errors(form.customer_email) }}
            </div>
            
            <div class="span4 clearfix">
              {{ form_label(form.invoicing_address) }}
              {{ form_widget(form.invoicing_address, {'attr': {'class': 'span4 address'}}) }}
              {{ form_errors(form.invoicing_address) }}
            </div>
            <div class="span4 clearfix">
              {{ form_label(form.shipping_address) }}
              {{ form_widget(form.shipping_address, {'attr': {'class': 'span4 address'}}) }}
              {{ form_errors(form.shipping_address) }}
            </div>
          </div><!-- inner row -->
        </div><!-- span10 -->
        
        <div id="invoice-like-properties" class="span4" style="background:pink;">
          
          <h3>{% trans %}Invoice Properties{% endtrans %}</h3>
          
          <div class="form-inline">
            
            <div class="clearfix">
              {{ form_label(form.series_id) }}
              {{ form_widget(form.series_id, {'attr': {'class': 'span2'}}) }}
              {{ form_errors(form.series_id) }}
            </div>
            <div class="clearfix">
              {{ form_label(form.number) }}
              {{ form_widget(form.number, {'attr': {'class': 'span2'}}) }}
              {{ form_errors(form.number) }}
            </div>
            <div class="clearfix">
              {{ form_label(form.issue_date) }}
              {{ form_widget(form.issue_date, {'attr': {'class': 'span2'}}) }}
              {{ form_errors(form.issue_date) }}
            </div>
            <div class="clearfix">
              {{ form_label(form.due_date) }}
              {{ form_widget(form.due_date, {'attr': {'class': 'span2'}}) }}
              {{ form_errors(form.due_date) }}
            </div>
            
          </div><!-- form inline -->
        </div><!-- span5 -->
      </div>
      
      <div class="row">
        <div class="span12">
          
          <h3>{% trans %}Invoice items{% endtrans %}</h3>
          
          <table id="invoice-like-items" class="table table-condensed table-striped align-middle">
            <thead>
              <tr>
                <th class="cell-size-tiny-small"></th>
                <th class="cell-size-x2large">{% trans %}Concept{% endtrans %}</th>
                <th class="cell-size-small cell-align-center">{% trans %}Qty/Hours{% endtrans %}</th>
                <th class="cell-size-small-medium cell-align-center">{% trans %}Price{% endtrans %}</th>
                <th class="cell-size-small-medium cell-align-center">{% trans %}Discount{% endtrans %}</th>
                <th class="cell-align-left">{% trans %}Taxes{% endtrans %}</th>
                <th colspan="2" class="cell-size-small-medium cell-align-right">{% trans %}Line Total{% endtrans %}</th>
              </tr>
            </thead>
            <tbody data-prototype="{{ form_widget(form.items.get('prototype'))|e }}">
              {% for item in form.items %}
              <tr>
                <td class="btn-group">
                  {# TODO: Make this pretty for row actions (add tax, add item before, add item after...) #}
                  <a class="btn btn-primary btn-mini" data-toggle="dropdown" href="#"><i class="icon-cog icon-white"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-arrow-up"></i> Add before</a></li>
                    <li><a href="#"><i class="icon-arrow-down"></i> Add after</a></li>
                    <li><a href="#"><i class="icon-plus"></i> Add Tax</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                  </ul>
                </td>
                <td>
                  {{ form_widget(item.invoice) }}
                  {{ form_widget(item.description, { 'attr': { 'class': 'input-x2large' } }) }}
                </td>
                <td class="cell-align-right">
                  {{ form_widget(item.quantity, { 'attr': { 'class': 'span1' } }) }}
                </td>
                <td class="cell-align-right">
                  {{ form_widget(item.unitary_cost, { 'attr': { 'class': 'span1' } }) }}
                </td>
                <td class="cell-align-right">
                  {{ form_widget(item.discount, { 'attr': { 'class': 'span1' } }) }}
                </td>
                <td class="taxes">
                  <span class="label tax"><a href="#" class="iconic x"></a>VAT 18%</span>
                  <span class="label tax"><a href="#" class="iconic x"></a>VAT 8%</span>
                </td>
                <td class="cell-align-right">
                  LINE TOTAL
                </td>
              </tr>
              {% endfor %}
              {# TODO: Action buttons: add/remove items, taxes, sort... #}
            </tbody>
          </table>
          
        </div>
      </div>
      
      <div class="row totals">
        <div class="span6">
          
          <a id="invoice-like-add-item" href="#" class="btn btn-info"><i class="icon-plus icon-white"></i> Add Item</a>
          <script type="text/javascript">
              $('#invoice-like-add-item').live('click', function(event){
                  event.preventDefault();
                  var collectionHolder = $('#invoice-like-items tbody');
                  var prototype = collectionHolder.attr('data-prototype');
                  form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
                  collectionHolder.append(form);
              });
          </script>
          {# TODO: Action buttons: add items. PROTOTYPE MUST BE CUSTOMIZED. #}
          
        </div>
        <div class="span4 offset2">
          <table id="invoice-like-totals" class="table table-condensed table-striped">
            <tbody>
              <tr>
                <th class="cell-size-large">{% trans %}Subtotal{% endtrans %}</th>
                <td class="cell-align-right">€ 405.00</td>
              </tr>
              <tr>
                <th>VAT 18%</th>
                <td class="cell-align-right">€ 72.90</td>
              </tr>
              <tr>
                <th>VAT 8%</th>
                <td class="cell-align-right">€ 32.4</td>
              </tr>
              <tr>
                <th>Invoice Total (EUR)</th>
                <td class="cell-align-right">€ 510.30</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div id="invoice-like-notes" class="row">
        <div class="span6">
          {{ form_label(form.terms) }}
          {{ form_widget(form.terms, {'attr': {'class': 'span6 terms'}}) }}
          {{ form_errors(form.terms) }}
        </div>
        <div class="span6">
          {{ form_label(form.notes) }}
          {{ form_widget(form.notes, {'attr': {'class': 'span6 terms'}}) }}
          {{ form_errors(form.notes) }}
        </div>
      </div>
      
      {{ form_rest(form) }}
      
      <div>
        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
      </div>
    </form>
    
  </article>
  
{% endblock %}