{# table_rows variable MUST be defined from the outside #}

{% if not table_selectable is defined %}
  {# This variable MUST be explicitly set to false to hide checkboxes         #}
  {# If you set this to false and you have a second listing that display them #}
  {# set explicitly to true in the second listing.                            #}
  {% set table_selectable = true %}
{% endif %}

<table class="zebra-striped align-middle" data-type="invoices">
  <thead>
    <tr>
      {% if table_selectable %}
      <th class="check">
        <input type="checkbox" name="all" />
      </th>
      {% endif %}
      <th class="number">{% trans %}Number{% endtrans %}</th>
      <th>{% trans %}Customer{% endtrans %}</th>
      <th class="date">{% trans %}Date{% endtrans %}</th>
      <th class="date">{% trans %}Due Date{% endtrans %}</th>
      <th class="status">{% trans %}Status{% endtrans %}</th>
      <th class="currency">{% trans %}Due{% endtrans %}</th>
      <th class="currency">{% trans %}Total{% endtrans %}</th>
      <th class="payments"></th>
    </tr>
  </thead>
  <tbody>
    {% for entity in table_rows %}
      <tr data-link="{{ path('invoice_show', { 'id': entity.id }) }}">
        {% if table_selectable %}
        <td class="check">
          <input type="checkbox" name="id[]" value="{{ entity.id }}" />
        </td>
        {% endif %}
        <td class="number">{{ entity.number }}</td>
        <td>{{ entity.getCustomerName }}</td>
        <td class="date">{{ entity }}</td>
        <td class="date">{{ entity }}</td>
        <td class="status">
          {# Use these CSS class names after .label for different statuses:
            DRAFT   => (no class)
            CLOSED  => .success
            OPENED  => .warning
            OVERDUE => .important
            ???     => .notice -> informational and not used
          #}
          <span class="label {{ entity }}">{% trans with { '%status%': entity } %}%status%{% endtrans %}</span>
        </td>
        <td class="currency">{{ entity }}</td>
        <td class="currency">{{ entity }}</td>
        <td class="payments">
          <a href="{{ path('invoice_payments', { 'invoiceId': entity.id }) }}" class="btn secondary icon clock payments" title="Payments" data-invoice-id="{{ entity.id }}">{% trans %}Payments{% endtrans %}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>