{# entities variable MUST be defined from the outside #}

{% set table_columns = 8 %}

{% if not table_selectable is defined %}
  {# This variable MUST be explicitly set to false to hide checkboxes         #}
  {# If you set this to false and you have a second listing that display them #}
  {# set explicitly to true in the second listing.                            #}
  {% set table_selectable = true %}
  {% set table_columns = table_columns + 1 %}
{% endif %}

<table class="table table-condensed table-striped align-middle" data-type="invoices">
  <thead>
    <tr>
      {% if table_selectable %}
      <th class="cell-size-tiny cell-align-center">
        <input type="checkbox" name="all" />
      </th>
      {% endif %}
      <th class="cell-size-medium">{% trans %}Number{% endtrans %}</th>
      <th>{% trans %}Customer{% endtrans %}</th>
      <th class="cell-size-medium">{% trans %}Date{% endtrans %}</th>
      <th class="cell-size-medium">{% trans %}Due Date{% endtrans %}</th>
      <th class="cell-size-small-medium cell-align-center">{% trans %}Status{% endtrans %}</th>
      <th class="cell-size-medium cell-align-right">{% trans %}Due{% endtrans %}</th>
      <th class="cell-size-medium cell-align-right">{% trans %}Total{% endtrans %}</th>
      <th class="cell-size-medium"></th>
    </tr>
  </thead>
  <tbody>
    {% if entities|length == 0 %}
      <tr>
        <td colspan="{{ table_columns }}">{% trans %}No invoices found.{% endtrans %}</td>
      </tr>
    {% endif %}
    {% for entity in entities %}
      <tr data-link="{{ path('invoice_show', { 'id': entity.id }) }}">
        {% if table_selectable %}
        <td class="cell-align-center">
          <input type="checkbox" name="id[]" value="{{ entity.id }}" />
        </td>
        {% endif %}
        <td class="cell-size-medium cell-align-center">{{ entity.number }}</td>
        <td>{{ entity.getCustomerName }}</td>
        <td>{{ entity }}</td>
        <td>{{ entity }}</td>
        <td class="cell-align-center">
          {# Use these CSS class names after .label for different statuses:
            DRAFT   => (no class)
            CLOSED  => .paid
            OPENED  => .pending
            OVERDUE => .overdue
            ???     => .notice -> informational and not used
          #}
          <span class="label {{ entity }}">{% trans with { '%status%': entity } %}%status%{% endtrans %}</span>
        </td>
        <td class="cell-align-right">{{ entity }}</td>
        <td class="cell-align-right">{{ entity }}</td>
        <td class="cell-align-right payments">
          <a href="{{ path('invoice_payments', { 'invoiceId': entity.id }) }}" class="btn secondary icon clock payments" title="Payments" data-invoice-id="{{ entity.id }}">{% trans %}Payments{% endtrans %}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>